<nav class="navbar navbar-dark bg-primary">
    <a href="/" class="navbar-brand">
        PhrasePress
    </a>

    <ul class="navbar-nav mr-auto d-flex flex-row">
        <li class="nav-item mx-2">
            <a class="nav-link" href="/admin/categories">Categories</a>
        </li>

        <li class="nav-item mx-2">
            <a class="nav-link" href="/admin/articles">Articles</a>
        </li>
    </ul>
</nav>