<nav class="navbar navbar-dark bg-primary">
    <a href="/" class="navbar-brand">
        PhrasePress
    </a>

    <ul class="navbar-nav mr-auto d-flex flex-row">
        <li class="nav-item mx-2">
            <a class="nav-link" href="/">Home</a>
        </li>
        <% categories.forEach(category => { %>
            <li class="nav-item mx-2">
                <a class="nav-link" href="/category/<%= category.slug %>"><%= category.title %></a>
            </li>
        <% }) %>


    </ul>
</nav>